<config>
    <modules>
        <Ccc_Filetransfer>
            <version>1.0.0</version>
        </Ccc_Filetransfer>
    </modules>
    <global>
        <models>
            <ccc_filetransfer>
                <class>Ccc_Filetransfer_Model</class>
                <resourceModel>ccc_filetransfer_resource</resourceModel>
            </ccc_filetransfer>
            <ccc_filetransfer_resource>
                <class>Ccc_Filetransfer_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>ccc_filetransfer_ftpconfiguration</table>
                    </configuration>
                    <filetransfer>
                        <table>ccc_filetransfer_ftpfile</table>
                    </filetransfer>
                </entities>
            </ccc_filetransfer_resource>
        </models>
        <resources>
            <filetransfer_setup>
                <setup>
                    <module>Ccc_Filetransfer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filetransfer_setup>
        </resources>
        <blocks>
            <ccc_filetransfer>
                <class>Ccc_Filetransfer_Block</class>
            </ccc_filetransfer>
        </blocks>
        <helpers>
            <ccc_filetransfer>
                <class>Ccc_Filetransfer_Helper</class>
            </ccc_filetransfer>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Filetransfer before="Mage_Adminhtml">Ccc_Filetransfer_Adminhtml</Ccc_Filetransfer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <adminhtml>
        <layout>
            <updates>
                <ccc_filetransfer>
                    <file>filetransfer.xml</file>
                </ccc_filetransfer>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <filetransfer>
                <run>
                    <model>ccc_filetransfer/ftp::readFiles</model>
                </run>
            </filetransfer>
        </jobs>
    </crontab>
</config>
